
/* Daniel Suárez de la Roza UO276467 */

/*Especificidad 001*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4f1f4;
    color: #05445e;
}

/*Especificidad 001*/
header{
    background-color: #75e6da;
    color: inherit;
}

/*Especificidad 001*/
nav{
    font-size: 1.3em;
    background-color: #75e6da;
    color: inherit;
}

/*Especificidad 002*/
h2 + nav{
    font-size: 1.3em;
    background-color: #d4f1f4;
    color: inherit;
}

/*Especificidad 001*/
h1{
    background-color: #75e6da;
    color: inherit;
}

/*Especificidad 002*/
h1 a{
    font-size: 1.5em;
    text-decoration: none;
}

/*Especificidad 001*/
h2 {
    font-size: 1.8em;
    font-weight: 800;
}

/*Especificidad 001*/
h3{
    font-size: 1.4em;
    text-decoration: underline;
}

/*Especificidad 011*/
a[title]{
    font-style: italic;
}

/*Especificidad 012*/
main > p:first-of-type{
    font-size: 0.85em;
}

/* Listas */

/*Especificidad 001*/
ul{
    list-style-type: '★';
}

/*Especificidad 001*/
ol{
    list-style-type: upper-roman;
}

/*Especificidad 002*/
ol ul{
    list-style-type: square;
}

/*Especificidad 001*/
dl {
    background-color: #aaf5ee;
    color: #032533;
}

/*Especificidad 002*/
dl dt{
    font-style: italic;
}

/*Especificidad 002*/
dl dd{
    font-size: 0.9em;
}

/* Tabla */

/*Especificidad 001*/
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0.2em solid rgb(15, 31, 131);
}

/*Especificidad 001*/
th, td {
    padding: 1em;
    text-align: center;
}

/*Especificidad 011*/
tr:nth-child(odd) {
    background-color: #93cbf6;
    color: inherit;
}

/*Especificidad 011*/
tr:nth-child(even) {
    background-color: #a0e8fa;
    color: inherit;
}

/* Multimedia */

/*Especificidad 001*/
video {
    width: 80%;
    height: auto;
}

/*Especificidad 002*/
picture img {
    width: auto;
    height: auto;
}

/*Especificidad 002*/
li img {
    width: 40%;
    height: auto;
}

/* Menú */

/*Especificidad 011*/
a[class="activo"]{
    font-weight: 600;
    font-size: 1.3em;
    background-color: inherit;
    color: #032533;
}

/*Especificidad 013*/
section p input:nth-child(3){
    background-color: brown;
    color: inherit
}

/* Carrusel */

/*Especificidad 012*/
button:nth-of-type(2) + article{
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
}

/*Especificidad 013*/
button:nth-of-type(2) + article img{
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

/*Especificidad 013*/
button:nth-of-type(2) + article button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    color: inherit;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

/*Especificidad 023*/
button:nth-of-type(2) + article button:active {
    transform: scale(1.1);
}

/*Especificidad 023*/
button:nth-of-type(2) + article button:nth-of-type(2) {
    top: 50%;
    left: 2%;
}

/*Especificidad 023*/
button:nth-of-type(2) + article button:nth-of-type(1) {
    top: 50%;
    right: 2%;
}

/* Mapas */

/*Especificidad 002*/
section > div{
    width: 100%;
    height: 40vw;
}

/*Especificidad 002*/
article > div{
    width: 100%;
    height: 40vw;
}